@model IEnumerable<GoogleAuthentication.Models.Product>

@{
    ViewData["Title"] = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card" style="width: 50rem;">
<img src="~/css/images/working.png" class="card-img-top" alt="...">
</div>